{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% block content %}
    <!-- MAIN CONTENT -->
    <h3 class="page-title">Process</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Step 1</h3>
                    <p class="panel-subtitle">Which mode do you want to run?</p>
                </div>
                <div class="panel-body">
                    <!--div class="btn-group" data-toggle="buttons">
                        <label  class="btn btn-primary" onclick="toggle('slam')">
                            <input type="checkbox">SLAM
                        </label>
                        <label  class="btn btn-primary" onclick="toggle('ssa')">
                            <input type="checkbox">SSA
                        </label>
                    </div-->
                    <form class="form-auth-small" action="/test/step2/" method="post">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <table class="table table-hover" rules="none">
                                    <tbody>
                                    <tr>
                                        <th>
                                            <span class="lead ">SLAM</span>
                                        </th>
                                        <th>
                                            <script type="text/javascript">
                                                function toggle(id) {
                                                    var tb = document.getElementById(id);
                                                    if (tb.style.display == 'none') tb.style.display = 'block';
                                                    else tb.style.display = 'none';
                                                }
                                            </script>
                                            <span class="bootstrap-switch col-md-offset-1" style="height: 32px">
                                            <input type="checkbox" checked="checked" name="mySwitch" onclick="toggle('slam')">
                                            </span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <span class="lead ">SSA</span>
                                        </th>
                                        <th>
                                            <span class="bootstrap-switch col-md-offset-1" style="height: 32px">
                                            <input type="checkbox" checked="checked" name="mySwitch" onclick="toggle('ssa')">
                                            </span>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--div class="row">
                            <div class="col-md-offset-10">
                                <p class="button">
                                    <button type="submit" class="btn btn-primary">Next Step</button>
                                </p>
                            </div>
                        </div-->
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Step2</h3>
                    <p class="panel-subtitle">Which data do you want to run?</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="fancy-checkbox inl">
                                <input type="checkbox">
                                <span>i696</span>
                            </label>
                            <label class="fancy-checkbox inline">
                                <input type="checkbox">
                                <span>ccdemo</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="fancy-checkbox inl">
                                <input type="checkbox">
                                <span>milford</span>
                            </label>
                            <label class="fancy-checkbox inline">
                                <input type="checkbox">
                                <span>fuji</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="fancy-checkbox inl">
                                <input type="checkbox">
                                <span>gm32</span>
                            </label>
                            <label class="fancy-checkbox inline">
                                <input type="checkbox">
                                <span>tokyo</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <h5>test footer</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-headline">
            <div class="panel-heading">
                <h3 class="panel-title">Step3</h3>
                <p class="panel-subtitle">Please choose your branch</p>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="slam">
                    <thead>
                    <tr>
                        <th>SLAM repo</th>
                        <th>branch</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="col-md-2">core/common</th>
                        <th class="col-md-10">
                            <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="common" id="common"
                                   value="feature/RDB-28325-offline-slam-developing">
                        </th>
                    </tr>
                    <tr>
                        <th class="col-md-2">algorithm_common</th>
                        <th class="col-md-10">
                            <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="algo_common" id="algo_common"
                                   value="feature/RDB-28325-offline-slam-developing-242">
                        </th>
                    </tr>
                    <tr>
                        <th class="col-md-2">algorithm_vehicle</th>
                        <th class="col-md-10">
                            <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="algo_vehicle" id="algo_vehicle">
                        </th>
                    </tr>

                    </tbody>
                </table>
                <table class="table table-hover"  id="ssa">
                    <thead>
                    <tr>
                        <th>SSA repo</th>
                        <th>branch</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="col-md-2">core/common</th>
                        <th class="col-md-10">
                            <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="common-sam" id="common-sam"
                                   value="feature/RDB-28325-offline-slam-developing">
                        </th>
                    </tr>
                    <tr>
                        <th class="col-md-2">algorithm_common</th>
                        <th class="col-md-10">
                            <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="algo_common-sam" id="algo_common-sam"
                                   value="feature/RDB-28414-internal-implementation-of-slam-snippets-merging-in-server">
                        </th>
                    </tr>
                    <tr>
                        <th class="col-md-2">algorithm_sam</th>
                        <th class="col-md-10">
                            <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="algo_sam-sam" id="algo_sam-sam">
                        </th>
                    </tr>
                    </tbody>
                </table>
                <div class="row col-lg-offset-10">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Next Step</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Info</h4>
                </div>
                <div class="modal-body">
                    run mode :
                    <br>
                    data area:
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
